.content {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
/* .table_title > img {
    margin: 0;
  } */
.content_text {
  margin-left: 10px;
}
.title {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.sub_title {
  margin: 0;
}
