.table_content {
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 600px;
}

.table_content > thead > tr {
  /* background-color: cadetblue; */
  color: black;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

.table_content th,
.table_content td {
  padding: 12px 50px;
}
.table_content tbody tr {
  border-bottom: 1px solid #dddddd;
}
