.about_container {
  width: 60%;
  margin: auto;
  display: flex;
}

.about_image > img {
  margin-top: 10px;
  width: 300px;
  height: 300px;
}

.about_description {
  margin-top: 0;
  margin-right: 10px;
  font-size: 20px;
  line-height: 35px
}
