.aboutme {
  width: 58%;
  margin: auto;
  padding-bottom: 100px;
}

.about-header {
  font-size: 36px;
  margin-top: 80px;
  font-weight: bolder;
}

.about-description {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .aboutme {
    width: 80%;
  }
}
