.post-detail {
  width: 55%;
  margin: auto;
  padding-top: 60px;
}

.post-detail-title {
  color: #a9a9b3;
  font-size: 42px;
}
.post-detail-description {
  color: #a9a9b3 !important;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #a9a9b3 !important;
  font-weight: 500;
}
