.blog_container {
  width: 60%;
  margin: auto;
}

.ant-list-vertical .ant-list-item-meta-title {
  margin-bottom: -5px !important;
}

.ant-list-item-meta-title > a {
  font-size: 26px !important;
}
.link {
  text-decoration: none;
  color: black !important;
}

.description {
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 16px;
  padding: 0px !important;
}

.ant-list-item-extra > img {
  object-fit: cover !important;
  width: 272px;
  height: 180px;
}
