.nav {
  box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
  background-color: #001529;
  position: sticky;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  z-index: 100;
  margin: auto;
  top: 0;
  height: 60px;
}

.navBar_middle {
  display: flex;
}
.navBar_middle_option {
  padding-left: 30px;
}

.navBar_right {
  display: flex;
}

.navbar_middle_option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_middle_option > a {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 36px;
  color: white;
}

.navBar_right_option {
  padding-left: 20px;
}
.navBar_right_option > {
  padding-left: 20px;
}

.login {
  color: white;
  margin: 0;
  padding: 5px 10px;
}

.contact {
  background-color: #0088cc;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  list-style: none;
}

.link_style {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.contact_link_style {
  text-decoration: none;
  color: white;
}
