.nav {
  box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
  background-color: #001529;
  position: sticky;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;

  margin: auto;
}

.navbar_left {
  display: flex;
  justify-content: center;
}

.navbar_right {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 36px;
  color: white;
}

.login {
  color: white;
  margin: 0;
  padding: 5px 10px;
}

.contact {
  background-color: #0088cc;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  list-style: none;
}

.link_style {
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin-left: 10px;
}
.contact_link_style {
  text-decoration: none;
  color: white;
}
