@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: #232425 !important;
}

.App {
  height: 100%;
}

.app-container {
  height: 100%;
}

.navbar {
  background-color: gray;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 16%;
}

.nav-links li {
  list-style: none;
}

.burger {
  display: none;
}

.burger div {
  background-color: white;
  width: 25px;
  height: 5px;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  /* body {
    display: none;
  } */
}
