@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.App {
  margin: 0;
  padding: 0;
}

p h2 {
  font-family: "Montserrat", sans-serif;
}

.app_body {
  margin-top: 20px;
}

p {
  margin-top: 0;
  margin-bottom: 0 !important;
}
